*{
	padding: 0;
	margin: 0;}
#whole{
background-color:cyan;
font-family: 'Roboto', sans-serif;


}
img{
	height: 230px;
	padding: 20px;
}
.mypic{
	
	position: relative;
	left: 30%;
	
}


	ul {
		list-style-type: none;
		margin: 0px;
		padding: 0px;
		overflow: hidden;
		width: 100%;

		background-color: black;
	}
	li{
		float: left;
	}

	li a{
		display: bock;
		width: 60px;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}
	li a:hover {
		background-color: #111;
		color: white;
	}
	li a{
		display: block;
		
		background-color: black;
	}
	a{
		padding: 8px;
	}
	.intro{
		position: relative;
		left: 30%;
		width: 30%;
		
		background-color: white;
		
	}
	.mineimage{
		position: absolute;
		left: 60%;
		top: 5%;
		animation: yes;
		animation-duration: 4s;
	}
	.tutorials{
		position: relative;
		left: 30%;
	}
	.projects{
		transition-duration: 2s;
	transition-property: background,transform;
	}
	.projects:hover{
		transform: rotate(360deg);
	}


	.first{
		width: 100%;
		height: 500px;
		background-color: blue;
		background-image: url('images/bkg.jpeg');
	}